<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="dashboard">

    <div class="sidebar">
        <h2>🎓 Student AI</h2>

        <a href="/home">Dashboard</a>
        <a href="/">Logout</a>
    </div>

    <div class="main-content">

        <div class="top-card">
            <h1>Student Performance Predictor</h1>

            <p>Model Accuracy: {{ accuracy }}%</p>
        </div>

        <div class="predict-card">

            <form method="POST">

                <input type="number"
                name="hours"
                step="0.1"
                placeholder="Study Hours"
                required>

                <input type="number"
                name="attendance"
                placeholder="Attendance %"
                required>

                <input type="number"
                name="previous"
                placeholder="Previous Marks"
                required>

                <button type="submit">
                    Predict Score
                </button>

            </form>

            {% if prediction %}

            <div class="result-card">

                <h2>
                    Predicted Final Score:
                    {{ prediction | round(2) }}
                </h2>

                <img src="{{ url_for('static', filename='graph.png') }}"
                width="500">

            </div>

            {% endif %}

        </div>

    </div>

</div>

</body>
</html>